<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">whimsifleur</h2>
                <hr class="light">
                <p class="text-faded">It all started with my wedding bouquet - a lush red bouquet that I made the night before. I handpicked each bloom from the flower market and hand tied her with ribbons I picked up from a random quaint little shop in Prague.</p>
                <p class="text-faded">I love flowers! I especially love quirky bouquets who have a bit of character. I couldn’t decide between a colourful bouquet or a single colour tone bouquet and that’s how I ended up making my own! Indecisive till the very last minute!</p>
                <p class="text-faded">I always thought I wanted a huge wild unruly bouquet for my wedding, but when I saw this weird velvety textured wavy flower, I knew I had to have her in my bouquet. And that’s how I ended up making a cute petite bouquet with her as the star of the show. I found out later that her name is Celosia, and she symbolizes affection, singularity and silliness, how very apt!</p>
                <p class="text-faded">Fast forward to couple of months after the wedding, I still love flowers and itched to make bouquets, but had no occasion (nor resources! Pretty things come with a pretty price tag!)...hence the inception of whimsifleur.</p>
                <p class="text-faded">I hope you’ll feel the fun and joy in your bouquet, because that’s how I felt making her for you. Thank you, for trusting me to curate her for you. ❤️</p>
            </div>
        </div>
    </div>
</section>
