<section id="ourrates">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Price Card</h2>
                <hr class="primary">
                <h3>WEDDINGS:</h3>
                <p><b>Bridal/Pre-wedding bouquet</b> <br/>RM400 (Premium)</br>MYR350 (Signature)</p>
                <p><b>Groom's boutonniere </b><br/>Complimentary with every order of a bridal bouquet <br/>(blooms will be matching with the bridal bouquet)</p>
                <p><b>Loose blooms for bride's hairdo </b><br/>Complimentary with every order of a bridal bouquet <br/>(blooms will be matching with the bridal bouquet)</p>
                <p><b>Family/groomsmen's boutonniere</b> <br/>MYR30 each</p>
                <p><b>Wrist corsages</b> <br/>MYR30 each</p>
                <p><b>Bridesmaid's bouquet</b> <br/>MYR120 each</p>
                <p><b>Flower girl posies</b> <br/>MYR80 each</p>
                <br/>
                <h3>SPECIAL OCCASSIONS (or just because you want to put a smile on Someone Special's face)</h3>
                <p><b>Flower arrangement in a vase</b> <br/>RM350 (Premium)</br>RM280 (Signature) </p>
                <br/><br/><br/>
                <p><b>What is Premium?</b><br/>We include imported rare seasonal blooms in our Premium bunch (such as Peonies, King Proteas, Ranunculus to name a few). Or, if you would like a wild, big bouquet, then that's Premium, too.</p>
                <p><b>What is Signature?</b><br/>Our Signature bunch is curated from beautiful blooms, to form a regular sized bouquet.</p>
            </br></br></br><p>Bouquets are to be picked up from our location at Sentul, KL a night before the ocassion. At the moment, we do not provide delivery services.</p>
            </div>
        </div>
    </div>
</section>
