<section id="ourstory">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Story</h2>
                <hr class="primary">
                <p>whimsifleur is a small home-based business, aiming to provide clients with bespoke bouquets curated with a generous dose of t.l.c. and a touch of whimsy. At whimsifleur, every bouquet that goes out is thoughtfully and meticulously curated - we derive most joy when our clients love our works!</p>
                <p>A chat with the Co-Founder of whimsifleur on how it all began:</p>
                <p><img src="../img/red.jpg" alt="wedding bouquet" width="90%" height="90%"></p>
                <p>"It all started with my wedding bouquet - a lush red bouquet that I made the night before. I handpicked each bloom from the flower market and hand-tied her with ribbons that I picked up from a random quaint little shop in Prague, souvenirs from past travels.</p>
                <p>I adore flowers! Especially quirky bouquets who have a bit of character. I couldn’t decide between a colourful bouquet or a single-colour toned bouquet and that’s how I ended up making my own! I was so indecisive till the very last minute, I was afraid no florist would take my order!</p>
                <p>I always thought that I wanted a huge wild unruly bouquet for my wedding, but when I saw this weird velvety textured wavy flower, I knew I had to have her in my bouquet. And that’s how I ended up making a cute petite bouquet with her as the star of the show. I found out later that her name is Celosia, and she symbolizes affection, singularity and silliness, how very apt!</p>
                <p>Fast forward to couple of months after the wedding, I still love flowers and itched to make bouquets, but had no occasion (nor resources!)...hence the inception of whimsifleur.</p>
                <p>I hope you’ll feel the fun and joy in your bouquet, because that’s how I feel making her for you. Thank you, for trusting us at whimsifleur to curate her for you. ❤️"</p>
            </div>
    </div>
</section>
