<section id="talktous">
    <div class="talktous">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Talk to Us</h2>
                <hr class="primary">
                <p>Now that you have browsed through our site, and presumably you like what you see (yay!), you are ready to talk to us!</p>
                <p>Drop us a quick note at <a href="mailto:aileen@whimsifleur.com">aileen@whimsifleur.com</a>, sharing with us the following information to facilitate our journey to come up with a bouquet you'll love:</p>
                <form name="sentMessage" id="contactForm" action="https://formspree.io/aileen@whimsifleur.com" method="POST" novalidate>
                    <div class="text-center">
                        <input type="text" name="name" size="32" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name."><br/><br/>
                        <input type="email" name="_replyto" size="32" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address."><br/><br/>
                        <input type="tel" name="phone" size="32" placeholder="Your Phone (optional)" id="phone" required data-validation-required-message="Please enter your phone number (optional)."><br/><br/>
                        <textarea name="message" rows="10" cols="32" placeholder="Your message *
- Date you need your blooms: 
- Occasion: (garden wedding, church wedding, pre-wedding shoot...) 
- Floral items: (bridal bouquet, bridesmaid bouquet...) 
- Colour theme: (bold & bright, pastel, shades of red...)" id="message" required data-validation-required-message="Please enter a message."></textarea><br/><br/>
<button type="submit" value="Send" class="btn btn-primary btn-xl">Send Message</button>

                    </div>
                </form>
                <p>
                <p>Send us some reference pictures so that we know the style you like, and do share with us if you have any particular blooms you want to incorporate in your bouquet.</p>
                <p>Talk to you soon!</p>
                <br/>
                <br/>
                <br/>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username}}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://wa.me/{{ site.whatsapp_username }}?text=I'm%20interested%20in%20your%20flower%20bouquets.">
            <i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.whatsapp }}</p>
            </a>
         </div>
        <div class="col-lg-3 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
    </div>
</section>
