<section id="talktous">
    <div class="talktous">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Talk to Us</h2>
                <hr class="primary">
                <p>Now that you have browsed through our site, and presumably you like what you see (yay!), you are ready to talk to us!</p>
                <p>Drop us a quick note at <a href="mailto:aileen@whimsifleur.com">aileen@whimsifleur.com</a>, sharing with us the following information to facilitate our journey to come up with a bouquet you'll love:</p>
                <p>
                <br/>- Date you need your blooms:
                <br/>- Occassion: (garden wedding, church wedding, pre-wedding shoot...)
                <br/>- Floral items: (bridal bouquet, bridesmaid bouquet...) 
                <br/>- Colour theme: (bold & bright, pastel, shades of red...)</p>
                <p>Send us some reference pictures so that we know the style you like, and do share with us if you have any particular blooms you want to incorporate in your bouquet.</p>
                <p>Talk to you soon!</p>
                <br/>
                <br/>
                <br/>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username}}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://wa.me/{{ site.whatsapp_username }}?text=I'm%20interested%20in%20your%20flower%20bouquets.">
            <i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.whatsapp }}</p>
            </a>
         </div>
        <div class="col-lg-3 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
    </div>
</section>
